.main{
    max-width: 800px;
    color: bisque;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}
.main-container{
    font-size: 2rem;
    text-align: center;
}